[submodule "Project2/Assets/Tools"]
	path = Project2/Assets/Tools
	url = https://github.com/anthonyromrell/ArtisanDream.Tools
[submodule "Project2/Assets/MyTools"]
	path = Project2/Assets/MyTools
	url = https://github.com/GeneralPattern/Tools
